/*PANEL TABLE*/

.panelgrid {
    margin: 0 auto;
    width: 80vw;
    max-width: 60vh;
    height: 80vw;
    max-height: 60vh;
    font-size: 17px;

}

.panelrow {
    display: flex;
}

.panelbox {
    background: #6cbff2;
    margin: 5px;
    color: white;
    flex: 1 0 auto;
    position: relative;
}

    .panelbox:after {
        content: "";
        float: left;
        display: block;
        padding-top: 100%;
    }

    .panelbox .inner {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
hr {
    display: block;
    color: darkcyan
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}